CCC2021-Team55  

Team Member   | Student ID  

Yingrui Zhang |     825593  
Jinyu Yang    |     980619  
Cheng Wang    |     825299  
Jin Kai Teh   |     938613  
Mustafa Awni  |     763078

In [38]:
import geopandas as gpd
import numpy as np
import pandas as pd
import fiona
import fsspec
import json
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

In [33]:
test = gpd.read_file(filename)

In [10]:
filename = "1270055001_sa2_2016_aust_shape.zip"
df = None
with fsspec.open(filename) as file:
    df = gpd.read_file(filename)

In [14]:
d = pd.DataFrame(0, index=np.arange(len(df)), columns=["a"])

#### pandas dataframe and geopanda dataframe can joint togther horizontally

In [41]:
df.head(1)

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry
0,101021007,11007,Braidwood,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3418.3525,"POLYGON ((149.58423 -35.44427, 149.58444 -35.4..."

In [78]:
test = geopandas.read_file("PHA_2016.zip")

In [84]:
test.head(1)

,OBJECTID,PHA_NAME16,PHA_CODE16,MaxSimpTol,MinSimpTol,geometry
0,1,Adamstown - Kotara,10283,50.0,50.0,"POLYGON ((1560571.008 1626072.468, 1561492.168..."

In [82]:
c = test["geometry"][0]
test1 = Point(151.694941, -32.942874)
c.contains(test1)

False

In [ ]:
c.contains(test1)

In [73]:
test = None
with fsspec.open("pha_shape_files.zip") as file:
    test = gpd.read_file(file)
test.head()

DriverError: '/vsizip//vsimem/c638d701ed914c89bdb1ea423fa9a139.zip' not recognized as a supported file format.

In [69]:
b = Polygon(df["geometry"][0])
a = Point(149.816636, -35.417053)
test = Point(-35.417053, 149.816636)

In [70]:
b.contains(a)

True

In [67]:
b == df["geometry"][0]

True

In [64]:
list(df["geometry"][0])

TypeError: 'Polygon' object is not iterable

In [63]:
b.contains(test)

False

In [18]:
pd.concat([d,df],axis = 1)

,a,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry
0,0,101021007,11007,Braidwood,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3418.3525,"POLYGON ((149.58423 -35.44427, 149.58444 -35.4..."
1,0,101021008,11008,Karabar,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,6.9825,"POLYGON ((149.21898 -35.36739, 149.21799 -35.3..."
2,0,101021009,11009,Queanbeyan,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,4.7634,"POLYGON ((149.21325 -35.34325, 149.21619 -35.3..."
3,0,101021010,11010,Queanbeyan - East,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,13.0034,"POLYGON ((149.24033 -35.34782, 149.24023 -35.3..."
4,0,101021011,11011,Queanbeyan Region,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3054.4099,"POLYGON ((149.23580 -35.38738, 149.23771 -35.3..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2305,0,901021002,91002,Cocos (Keeling) Islands,90102,Cocos (Keeling) Islands,901,Other Territories,9OTER,Other Territories,9,Other Territories,13.7163,"MULTIPOLYGON (((96.83047 -12.17636, 96.83045 -..."
2306,0,901031003,91003,Jervis Bay,90103,Jervis Bay,901,Other Territories,9OTER,Other Territories,9,Other Territories,67.8134,"MULTIPOLYGON (((150.69566 -35.18297, 150.69555..."
2307,0,901041004,91004,Norfolk Island,90104,Norfolk Island,901,Other Territories,9OTER,Other Territories,9,Other Territories,38.6509,"MULTIPOLYGON (((167.99472 -29.04534, 167.99432..."
2308,0,997979799,99799,Migratory - Offshore - Shipping (OT),99797,Migratory - Offshore - Shipping (OT),997,Migratory - Offshore - Shipping (OT),99799,Migratory - Offshore - Shipping (OT),9,Other Territories,0.0000,None
2309,0,999999499,99499,No usual address (OT),99999,No usual address (OT),999,No usual address (OT),99499,No usual address (OT),9,Other Territories,0.0000,None

In [24]:
pop_json = None
with open("population.json") as f:
    pop_json = json.load(f)

In [28]:
temp = pop_json["features"]

In [71]:
pha_geo_info = geopandas.read_file("pha_shape_files.zip")

DriverError: '/vsizip/pha_shape_files.zip' not recognized as a supported file format.

In [ ]:
# group point by using shapefile
# opt = "sa2" or "pha"
# note: make sure the coordinator have same format!!! (like [long, la] or [la, long])
def group_to_region(points, shapefile, opt):
    # get file polygon and geo information
    geo_df = geopandas.read_file(shapefile)
    
    
    if opt == "sa2":

In [36]:
# plot a heatmap based on value in each region and the region map 

# value is pandas dataframe with two column 'unique_id' and 'value'
# opt can be "sa2" or "pha"
# geopandas_df is a geopandas_object that contain have a column name "unique_id"
def visulize_heatmap(value, geopandas_df, opt):
    # sort value and geopandas_df so those two have correct order
    sorted_value = value.sort_values(by = "unique_id")
    sorted_geopandas_df = value.sort_values(by = "unique_id")
    
    # join two dataframe vertically
    temp = pd.concat([sorted_value,sorted_geopandas_df], axis = 1)
    
    # show the image
    temp.plot(column = 'value')

In [ ]:
# tweet per person
def tweets_per_person(population_csv, sa2_shapefile):
    pop_csv = pd.read_csv(population_csv)
    shapefile = geopandas.

In [35]:
# how you sort values
df.sort_values(by = "STE_NAME16")

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry
2291,801091108,81108,Pearce,80109,Woden Valley,801,Australian Capital Territory,8ACTE,Australian Capital Territory,8,Australian Capital Territory,1.7032,"POLYGON ((149.07640 -35.35927, 149.07648 -35.3..."
2268,801071087,81087,Richardson,80107,Tuggeranong,801,Australian Capital Territory,8ACTE,Australian Capital Territory,8,Australian Capital Territory,2.2371,"POLYGON ((149.10333 -35.42080, 149.10411 -35.4..."
2267,801071086,81086,Oxley (ACT),80107,Tuggeranong,801,Australian Capital Territory,8ACTE,Australian Capital Territory,8,Australian Capital Territory,1.0865,"POLYGON ((149.07467 -35.40457, 149.07469 -35.4..."
2266,801071085,81085,Mount Taylor,80107,Tuggeranong,801,Australian Capital Territory,8ACTE,Australian Capital Territory,8,Australian Capital Territory,10.9052,"POLYGON ((149.05912 -35.36942, 149.05340 -35.3..."
2265,801071084,81084,Monash,80107,Tuggeranong,801,Australian Capital Territory,8ACTE,Australian Capital Territory,8,Australian Capital Territory,3.4119,"POLYGON ((149.08144 -35.41388, 149.08154 -35.4..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,509031248,51248,Murray,50903,Wheat Belt - South,509,Western Australia - Wheat Belt,5RWAU,Rest of WA,5,Western Australia,2746.4237,"POLYGON ((116.17822 -32.80324, 116.17802 -32.7..."
1963,509031247,51247,Kulin,50903,Wheat Belt - South,509,Western Australia - Wheat Belt,5RWAU,Rest of WA,5,Western Australia,28626.1668,"POLYGON ((117.63904 -32.58163, 117.63988 -32.5..."
1962,509031246,51246,Brookton,50903,Wheat Belt - South,509,Western Australia - Wheat Belt,5RWAU,Rest of WA,5,Western Australia,7480.8607,"POLYGON ((116.78391 -32.33233, 116.78391 -32.3..."
1975,510021270,51270,South Hedland,51002,East Pilbara,510,Western Australia - Outback (North),5RWAU,Rest of WA,5,Western Australia,22.2565,"POLYGON ((118.59843 -20.42160, 118.59833 -20.4..."
1900,507011151,51151,Bibra Lake,50701,Cockburn,507,Perth - South West,5GPER,Greater Perth,5,Western Australia,4.1706,"POLYGON ((115.82279 -32.08355, 115.82270 -32.0..."

In [3]:
pop = pd.read_csv("population by sa2 2016.csv")
pop.head()

   sa2_main16   erp_2016pr
0   101021007         3945
1   101021008         8615
2   101031015         3334
3   101031016         7091
4   101041017         7842

In [4]:
life_sat = pd.read_csv("life satisfy.csv")
life_sat.head()

,life_satisfaction_pc_80_to_100_synth,_life_satisfaction_pc_30_synth,_life_satisfaction_pc_60_synth,_life_satisfaction_pc_70_synth,_life_satisfaction_pc_20_synth,_life_satisfaction_pc_0_synth,_life_satisfaction_pc_10_synth,sa2_code16,_life_satisfaction_pc_40_synth,_life_satisfaction_pc_50_synth
0,0.731050,0.005387,0.045017,0.166987,0.004232,0.004617,0.000770,101021007,0.008465,0.033474
1,0.714574,0.004370,0.047739,0.169608,0.004202,0.005211,0.001849,101021008,0.014960,0.037485
2,0.738281,0.004774,0.047743,0.165799,0.001302,0.004774,0.000868,101031015,0.010417,0.026042
3,0.705922,0.003617,0.049277,0.184448,0.001356,0.007685,0.000904,101031016,0.009720,0.037071
4,0.701190,0.009669,0.051692,0.165675,0.003719,0.004091,0.001488,101041017,0.014875,0.047601

In [10]:
life_sat.columns

Index(['life_satisfaction_pc_80_to_100_synth',
       ' _life_satisfaction_pc_30_synth', ' _life_satisfaction_pc_60_synth',
       ' _life_satisfaction_pc_70_synth', ' _life_satisfaction_pc_20_synth',
       ' _life_satisfaction_pc_0_synth', ' _life_satisfaction_pc_10_synth',
       ' sa2_code16', ' _life_satisfaction_pc_40_synth',
       ' _life_satisfaction_pc_50_synth'],
      dtype='object')

In [14]:
a = life_sat.drop(" sa2_code16",axis = 1)

In [24]:
life_sat[" sa2_code16"]

0       101021007
1       101021008
2       101031015
3       101031016
4       101041017
          ...
2283    801101137
2284    801101138
2285    801101139
2286    801111140
2287    801111141
Name:  sa2_code16, Length: 2288, dtype: int64

In [16]:
a.sum(axis = 1)

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
2283    0.0
2284    0.0
2285    1.0
2286    0.0
2287    0.0
Length: 2288, dtype: float64

In [36]:
pop = pd.read_csv("population by sa2 2016.csv")

In [37]:
pop.columns

Index(['sa2_main16', ' erp_2016pr'], dtype='object')

In [45]:
sum(pop[" erp_2016pr"] < 60)

106

In [47]:
a = pd.read_csv("median salary.csv")

In [48]:
a.columns

Index(['med_psnl_inc_wk_tot', ' med_age_psns_tot', ' sa2_main16'], dtype='object')

In [ ]:
a = pd.read_csv("qualification.csv")

In [52]:
a.columns

Index(['p_bachdeg_total', ' p_cert_iii_iv_total', ' p_cert_i_ii_total',
       ' p_tot_total', ' p_lev_edu_ns_total', ' p_graddip_and_gradcert_total',
       ' sa2_main16', ' p_advdip_and_dip_total', ' p_pgrad_deg_total',
       ' p_lev_edu_ides_total', ' p_cert_lev_tot_total',
       ' p_cert_levl_nfd_total'],
      dtype='object')

In [55]:
a.head()

,p_bachdeg_total,p_cert_iii_iv_total,p_cert_i_ii_total,p_tot_total,p_lev_edu_ns_total,p_graddip_and_gradcert_total,sa2_main16,p_advdip_and_dip_total,p_pgrad_deg_total,p_lev_edu_ides_total,p_cert_lev_tot_total,p_cert_levl_nfd_total
0,413,558,38,2155,507,77,101021007,274,170,29,685,93
1,584,1254,85,3543,573,127,101021008,553,197,37,1478,138
2,316,545,43,1720,374,34,101031015,234,74,21,660,78
3,724,1372,91,3903,669,99,101031016,561,178,52,1611,146
4,440,1290,91,3612,883,103,101041017,467,96,53,1577,192

In [57]:
413 + 558 + 38 + 507 + 77 + 274 + 170 + 29 + 93

2159

### The final copy start here

In [2]:
# import 
import geopandas as gpd
import numpy as np
import pandas as pd
import fiona
import fsspec
import json
#from shapely.geometry import Point
#from shapely.geometry.polygon import Polygon

In [29]:
# return a df that have two column: 1 "sa2_code" 2 "life_sat"
# assume the file "life satisfy.csv" in current directory
def life_sat_by_region():
    data = pd.read_csv("life satisfy.csv")
    sa2_code = data[" sa2_code16"]
    data = data.drop(" sa2_code16", axis = 1)
    
    # calculate the happiness score
    for i in range(0,80,10):
        data[" _life_satisfaction_pc_"+str(i)+"_synth"] = data[" _life_satisfaction_pc_"+str(i)+"_synth"] * i
    data['life_satisfaction_pc_80_to_100_synth'] = data['life_satisfaction_pc_80_to_100_synth']*90 # calculate by average
    total = data.sum(axis = 1)
    temp = pd.concat([sa2_code, total],axis = 1)
    temp.columns = ["sa2_code", "life_sat"]
    
    return temp

In [69]:
# regional qualifiaction score
# calculation: advanced diploma and diploma = 5.5 
# bachelor = 7 
# certification 1 and 2 = 1.5
# certification 3 and 4 = 3.5
# not further defined = 4
# graduate certification = 8
# post degree (exc gd) = 9.5

# assume the qualification.csv is in current directory
def get_regional_education_score():
    data = pd.read_csv("qualification.csv")
    normalized_score =  (data["p_bachdeg_total"]*7 + data[" p_cert_iii_iv_total"]*3.5 + data[" p_cert_i_ii_total"]*1.5 + data[" p_graddip_and_gradcert_total"]*8 
                        + data[" p_advdip_and_dip_total"]*5.5 + (data[" p_pgrad_deg_total"] - data[" p_graddip_and_gradcert_total"]) * 9.5)/data[" p_tot_total"]
    temp = pd.concat([data[" sa2_main16"], normalized_score], axis = 1)
    temp.columns = ["sa2_code", "education_score"]
    return temp

In [99]:
# main program

def main():
    # read population data
    pop = pd.read_csv("population by sa2 2016.csv")
    pop.columns = ["sa2_code", "size"]
    pop["sa2_code"] = pd.to_numeric(pop["sa2_code"])
    sorted_pop = pop.sort_values(by = ["sa2_code"])
    
    # load salary
    income = pd.read_csv("median salary.csv")[[" sa2_main16", "med_psnl_inc_wk_tot"]]
    income.columns = ["sa2_code", "weekly_income"]
    income["sa2_code"] = pd.to_numeric(income["sa2_code"])
    sorted_income = income.sort_values(by = ["sa2_code"])
    
    # load life satisfication data
    life_sat = life_sat_by_region()
    life_sat["sa2_code"] = pd.to_numeric(life_sat["sa2_code"])
    sorted_life_sat = life_sat.sort_values(by = ["sa2_code"])
    
    # load regional education level score
    education_score = get_regional_education_score()
    education_score["sa2_code"] = pd.to_numeric(education_score["sa2_code"])
    sorted_education_score = education_score.sort_values(by = ["sa2_code"])
    
    final = pd.concat([sorted_pop, sorted_income["weekly_income"], sorted_life_sat["life_sat"], sorted_education_score["education_score"]], axis = 1)
    
    return final

In [100]:
a = main()

In [101]:
a

       sa2_code  size  weekly_income   life_sat  education_score
0     101021007  3945            594  82.450945         3.669374
1     101021008  8615            812  81.754915         3.761502
2     101031015  3334            634  82.812499         3.559884
3     101031016  7091            761  81.787976         3.749552
4     101041017  7842            503  81.160284         3.061323
...         ...   ...            ...        ...              ...
2286  801111140   578           1083   0.000000              NaN
2287  801111141    39           1208   0.000000              NaN
2288  901011001  1903           1164        NaN         5.390607
2289  901021002   546            563        NaN         4.615873
2290  901031003   403            629        NaN         4.476190

[2291 rows x 5 columns]

In [96]:
pd.read_csv("median salary.csv").columns

Index(['med_psnl_inc_wk_tot', ' med_age_psns_tot', ' sa2_main16'], dtype='object')